.button {
  display: block;
  padding: 10px 24px;
  padding-top: 12px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $text-white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: $background-green;

  transition: all 0.2s;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $background-button-light;
  }

  &:active {
    color: $text-white-active;
  }
}

.button--gray {
  color: $text-darkbrown;
  background-color: $background-lightgray;

  &:hover,
  &:focus {
    background-color: $background-hover-button-gray;
  }

  &:active {
    background-color: $background-lightgray;
    color: $text-darkbrown-active;
  }
}
