.cat-action {
  position: relative;
  // width: 100%;
  padding: 0 20px;
  padding-top: 30px;

  // временные стили
  width: 320px;
  margin: 0 auto;
  // @include outline-front(green);
  // end

  margin-bottom: 22px;
}

.cat-action__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-action__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 304px;
  width: 100%;

  background-color: $action-background-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.cat-action__title {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;

  font-size: 33px;
  line-height: 36px;
  font-weight: 500;
  color: $text-white;
  text-align: center;
}

.cat-action__description {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $text-white;
  text-align: center;
  text-transform: uppercase;
}

.cat-action__image-block {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
}

.cat-action__image {
  display: block;
  width: 100%;
  height: auto;
}

.cat-action__link {
  width: 100%;
  order: 1;
}

@media (min-width: $tablet-width) {
  .cat-action {
    width: $tablet-width;
    padding: 0 30px;
    padding-top: 22px;
    margin-bottom: 0;
  }

  .cat-action__wrapper {
    padding: 0 90px;
    padding-top: 8px;
    align-items: flex-start;
  }

  .cat-action__background {
    display: none;
  }

  .cat-action__link {
    order: 0;

    width: auto;
    // может быть применимо ко всем
    padding: 15px 26px;
    padding-right: 28px;
    padding-top: 17px;
    font-size: 20px;
    line-height: 20px;
  }

  .cat-action__title {
    margin-bottom: 42px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $text-black;
    text-align: left;
  }

  .cat-action__description {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $text-black;
    text-align: left;
  }

  .cat-action__image-block {
    position: relative;
    z-index: -1;
    margin: 0 -90px;
    margin-top: -80px;
    width: calc(100% + 180px);
  }
}

@media (min-width: $desktop-width) {
  .cat-action {
    width: $desktop-width;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 188px;
    margin-bottom: 80px;
  }

  .cat-action__wrapper {
    width: 725px;
    padding: 0 80px;
  }

  .cat-action__description {
    margin-bottom: 53px;
  }

  .cat-action__image-block {
    margin: 0;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-158px);
  }
}
