.contacts {
  background-color: $background-lightgray;
  width: 100%;
}

.contacts__wrapper-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 20px;
  padding-bottom: 26px;
  margin: auto;
  width: 320px;
}

.contacts__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
}

.contacts__address {
  margin-right: 6px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-darkbrown;
}

.contacts__city {
  font: inherit;
}

.contacts__map {
  height: 362px;
  position: relative;
  background: #fdf7f0 url("../img/bg-map-mobile@1x.png") 0 -38px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: contain;
  }
}

.contacts__pin {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 129px;
  top: 139px;
  background: url("../img/map-pin.png") no-repeat;
  background-size: 62px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    margin: 0 auto;
  }

  .contacts__wrapper-text {
    padding: 65px 72px;
    padding-bottom: 56px;
    margin: 0;
    width: 100%;
  }

  .contacts__label {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin: 0;
    font-size: 16px;
    text-align: right;
  }

  .contacts__city {
    font: inherit;
    margin-top: 20px;
    display: block;
  }

  .contacts__map {
    height: 396px;
    background: url("../img/bg-map-tablet@1x.png") 0 -4px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: contain;
    }
  }

  .contacts__pin {
    width: 110px;
    height: 110px;
    left: 322px;
    top: 146px;
    background: url("../img/map-pin.png") no-repeat;
    background-size: 124px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    width: 100%;
  }

  .contacts__wrapper-text {
    position: absolute;
    background: $background-white;
    top: 95px;
    left: 110px;
    padding: 63px 76px;
    padding-bottom: 58px;
    padding-right: 90px;
    width: 570px;
    z-index: 10;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    height: 400px;
    background: url("../img/bg-map-desktop@1x.png") 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: contain;
    }
  }

  .contacts__pin {
    left: 998px;
    top: 150px;
  }
}
