.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo__name {
  margin-right: auto;
  margin-left: auto;
}

.logo__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 173px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 202px;
    height: auto;
  }
}
