@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin margin-padding-reset() {
  padding: 0;
  margin: 0;
}

@mixin button-reset() {
  background-color: transparent;
  border: 0;
  padding: 0;
}
